body {
  background-color: white;
  margin: 0px;
}

#content{
  width: 100vh;
  height: 100vh;
}

div.nav {
  position: fixed;
  top: 0px;
  background-color: lightgreen;
  /* right: 30px; */
  left: 0px;
  width: 100%;
  text-align: center;
  margin-right: 30px;
  padding: 10px;
  z-index: 100;
}

#background-logo {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

div img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 100px;
  font-family: sans-serif;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  align-items: center;
  position: absolute;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  top: 45%;
}

h2 {
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.description {
  font-size: 20px;
  text-align: justify;
}

.pecas {
  margin: auto;
  width: 100%;
  border: none;
  height: 2201px;
}

.about {
  margin: auto;
  width: 100%;
  border: none;
  height: 300px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal iframe {
  width: 320px;
  height: 425px;
  border: none;
}

.fechar {
  position: absolute;
  width: 30px;
  right: 35px;
  top: 20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}
