* {
    background-color: #FEF1DF;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* .center { */
/*     max-width: 325px; */
/*     width: 325px; */
/* } */

/* .row { */
/*     display: flex; */
/*     flex-direction: row; */
/*     justify-content: space-between; */
/*     margin: 1%; */
/* } */

.container input[type="number"] {
    width: 100px;
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 2%;
}

.container label {
    font-size: 25px;
}

h1 {
    color: #FE9400;
}
